<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fun2travel</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css" />
        <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css" />
        <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <div class="container">
        <div class="bs-component">
            <div class="container-fluid">
                <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse" id="navbarColor02">
                        <div class="col-lg-4">

                            <a asp-action="Index" asp-controller="Home"><img src="~/images/Logo.png" style="height:100%; width:100%;padding-bottom:15px" /></a>
                        </div>
                        <div class="col-lg-6">

                            <ul class="navbar-nav mr-auto navbar-left">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Hotels"><img src="~/images/Hotel.png" style="height:30px; width:30px" /> Hotels</a>
                                </li>
                                <li class="nav-item">

                                    <a class="nav-link" asp-controller="Home" asp-action="Adventures"><img src="~/images/Activity.png" style="height:30px; width:30px" /> Adventures</a>
                                </li>
                                <li class="nav-item">

                                    <a class="nav-link" asp-controller="Home" asp-action="Packages"><img src="~/images/Package.png" style="height:30px; width:30px" /> Packages</a>
                                </li>
                                <li class="nav-item">

                                    <a class="nav-link" href="#"><img src="~/images/Gallery.png" style="height:30px; width:30px" /> Inspiration</a>
                                </li>

                            </ul>

                        </div>
                        <div class="bs-component">

                            <ul class="navbar-nav mr-auto navbar-right pull-right">
                                <li class="nav-item pull-right">

                                    <a asp-controller="Members" asp-action="Login" class="btn btn-outline-primary btn-lg btn-block">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <br />
        <br />
        <br />

        @*@{
                Html.RenderPartial("_ResultBox");
            }*@
        <div id="partialResultView"> </div>

        @*<footer>
                <p>&copy; 2018 - fun2travel</p>
            </footer>*@
    </div>

    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.8/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/js/JavaScript.js"></script>

    @*<script src="https://bootswatch.com/_assets/js/custom.js"></script>*@

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@
    @*<script type="text/javascript">
            $('.form_date').datetimepicker({
                language: 'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
        </script>*@
    @*<script type="text/javascript">
            document.getElementById("field_terms").setCustomValidity("Please indicate that you accept the Terms and Conditions");
        </script>*@
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
