<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fun2travel</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css" />
        <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css" />
        <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <div class="container">
        <div class="bs-component">
            <div class="container-fluid">
                <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <img src="~/images/Logo.png" style="height:30%; width:30%;padding-bottom:15px" />

                        <ul class="navbar-nav mr-auto navbar-left">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img src="~/images/Hotel.png" style="height:30px; width:30px" /> Hotels</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="#"><img src="~/images/Activity.png" style="height:30px; width:30px" /> Adventures</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="#"><img src="~/images/Package.png" style="height:30px; width:30px" /> Packages</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="#"><img src="~/images/Gallery.png" style="height:30px; width:30px" /> Inspiration</a>
                            </li>

                        </ul>

                        <div class="bs-component">

                            <ul class="navbar-nav mr-auto navbar-right pull-right">
                                <li class="nav-item pull-right">

                                    <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <br />
        <br />
        <br />

        @{
        Html.RenderPartial("_ResultBox");
        }


        @*<footer>
            <p>&copy; 2018 - fun2travel</p>
        </footer>*@
    </div>

    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="https://bootswatch.com/_assets/js/custom.js"></script>*@

    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
