        <div class="col-lg-12" style="width:200%">
            <div class="page-header">
                <h5 id="tables">Result</h5>
            </div>

            <div class="bs-component">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">City</th>
                            <th scope="col">Hotel Name</th>
                            <th scope="col">Activity</th>
                            <th scope="col" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-sm table-active">
                            <td>Stockholm</td>
                            <td>Hotell 1</td>
                            <td>Aktivitet 1</td>
                            <td class="text-right">
                                <div class="">
                                    <a class="btn btn-primary" href="#" role="button" style="margin-right:50px;width:50%">Book</a>

                                </div>
                            </td>
                        </tr>

                        <tr class="table-sm table-active">
                            <td>Malmö</td>
                            <td>Hotell 2</td>
                            <td>Aktivitet 2</td>
                            <td class="text-right">
                                <div class="">
                                    <a class="btn btn-primary" href="#" role="button" style="margin-right:50px;width:50%">Book</a>

                                </div>
                            </td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
