@model List<ResultVM>




<div id="resultboxpartial">

<div class="col-lg-12" style="width:200%">
    <br />
    <br />

    <div class="card">
        <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted">Result:</h3>
            <h3 id="ResultLocation" class="card-subtitle mb-2 text-muted"></h3>
            <h3 id="ResultActivity" class="card-subtitle mb-2 text-muted"></h3>

        </div>

        <div class="bs-component">
            <table class="table table-hover">
                <thead>
                    <tr class="table-sm table-dark">
                        <th scope="col">Hotel Name</th>
                        <th scope="col">Price per night</th>
                        <th scope="col" class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-sm table-dark">
                            <td>@item.HotelName</td>
                            <td>@item.BedPricePerNight &euro;</td>
                            <td class="text-right">
                                <div class="">
                                    <a class="btn btn-primary" asp-action="Booking" asp-controller="Bookings" asp-route-id="@item.HotelId" role="button" style="margin-right:50px;width:50%">Book</a>

                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
