body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.display-3, lead, nav-item {
    color: #FFFCF7;
}

.btn-primary {
    color: #FFFCF7;
    background-color: #FF3204;
    border-color: #CF2803;
}
a.btn .btn-primary {
    color: #FFFCF7;
    border-color: #CF2803;
}

.btn-primary:hover {
    color: #FFFCF7;
    background-color: #CF2803;
    border-color: #CF2803;
}

.dropdown-menu a:hover {
    cursor: pointer;
}

.btn-outline-primary {
    color: #FFFCF7;
    border-color: #CF2803;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #FFFCF7;
    background-color: #CF2803;
    border-color: #CF2803;
}

/*div.card-header {
    border-color: #CF2803;
    border: 1px solid;
    color: #CF2803;
}
div.card-body {
    border-color: #CF2803;
    border: 1px solid;
    color: #CF2803;
}*/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.jumbotron {
    position: relative;
    background-color: transparent !important;
}

    .jumbotron .img {
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        min-height: 500px;
        width: 100%;
        opacity: 0.15;
        background-image: url("../images/bg.jpg");
        z-index: -1;
    }

    .jumbotron .hotels {
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        min-height: 1200px;
        width: 100%;
        opacity: 0.15;
        background-image: url("../images/bg.jpg");
        z-index: -1;
        background-color:aqua;
    }

    .jumbotron .hotelsdetail {
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        min-height: 100%;
        width: 100%;
        opacity: 0.9;
        background-color: #11627F;
        z-index: -1;
    }

.card-body {
    position: relative;
    /*background-color: transparent !important;*/
}

    .card-body .card-image {
        left: 0;
        top: 0;
        /*max-width: 20rem;*/
        max-width: 100%;
        opacity: 0.9;
        z-index: -1;
    }

.detailsimage {
    max-width: 30rem !important;
    max-height: 20rem;
}
