@model AddHotelVM
<br />
<div class="bs-component">
    <div class="jumbotron d-flex justify-content-center">
        <div class="col-lg-6">
            <form asp-controller="Members" asp-action="AddHotel" class="form-group">
                <div class="row d-flex justify-content-center">
                    <label class="col-form-label" for="inputDefault">New Hotel, please fill in all boxes! </label>

                    <div class="form-group">
                        <input asp-for="HotelName" type="text" placeholder="Hotel Name" />
                        <input asp-for="HotelLocation" type="text" placeholder="Hotel Location" />
                        <input asp-for="HotelAdress" type="text" placeholder="Hotel Adress or GPS coordinates" />
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Hotel Description text</span>
                        
                        </div>
                        <textarea asp-for="HotelDescription" class="form-control" aria-label="With textarea"></textarea>
                    </div>

                    
                    <div class="form-group">

                        <input asp-for="TotalNrOfBeds" type="number" placeholder="Number of beds or rooms" />
                        <input asp-for="BedPricePerNight" type="number" placeholder="Average cost per night, per person, per room" />
                        <input asp-for="PriceForTransport" type="number" placeholder="Cost for transport" />
                        </div>
                        <div class="form-group">

                            <input asp-for="HotelPic1" type="text" placeholder="url to picture 1" />
                            <input asp-for="HotelPic2" type="text" placeholder="url to picture 2" />
                            <input asp-for="HotelPic3" type="text" placeholder="url to picture 3" />
                        </div>
                    </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="ADD" />
                </div>
            </form>

        </div>

        //list of activities to asociate with hotel
        @*<div class="col-lg-12">
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <label class="col-form-label" for="inputDefault">Activity</label>
                        <select asp-for="ActivitySelected" asp-items="Model.SelectionActivityList" class="form-control" id="ActivityList"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">No. of persons</label>
                        <select asp-for="NoPplForActivity" id="NumberofPeopleActivity" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row col-lg-12">
                    <div class="custom-control custom-checkbox d-flex justify-content-around">
                        <input asp-for="RentEquipmentSelected" type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Rent Equipment</label>
                    </div>
                </div>
                <br />

            </div>*@
        <br />
        <hr />

    </div>
</div>


