@model Hotel
<div class="bs-component">
    <div class="jumbotron">
        <div class="hotelsdetail"></div>
        <h2 class="display-3">@Model.Name</h2>
        <div class="d-flex justify-content-center">
            <p>@Model.Location</p>
            <p>@Model.Description</p>
            <img src="~/images/hotelalpha.jpg" />
        </div>        
        <br />
        <br />
        <div class="d-flex justify-content-around">
            <img src="~/images/hotelalpha.jpg" />
            <p>Many activities both summer and winter, inkluding:</p>

            <ul>
                <li>Skiing</li>
                <li>Snowboard</li>
                <li>Cykling</li>
                <li>Hiking</li>
                <li>Camping</li>
                <li>basejumping</li>
            </ul>
        </div>
    </div>
</div>
