@model AdventuresVM[]
<div class="bs-component">
    <div class="jumbotron">
        <div class="hotels"></div>
        <h1 class="display-3">Adventures and Activities</h1>
        <p class="lead">
            Enjoy activity days, holidays and courses for all ages and abilities. Our extensive range of activities take place on the water, in the water, on rock and on snow. We have activities to suit everyone. If you are looking for a fun and adventurous day out look no further. We have many choices of activities and adventures ensuring that anyone can find something they are interested in.
        </p>
        <hr class="my-4">
        <div class="gridDisplay">
            @foreach (var item in Model)
            {
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <a class="navbar-link" asp-controller="Details" asp-action="AdventureDetails" asp-route-id="@item.Id">

                        <div class="card-header"><h4 class="card-title">@item.ActivityName</h4></div>
                        <div class="card-body">
                            <img src="@item.ActivityPic1" class="card-image" />
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
