<div class="bs-component">
    <div class="jumbotron">
        <div class="hotels"></div>
        <h1 class="display-3">Contact and Suport</h1>
        <hr class="my-4">
        <div class="d-flex justify-content-center">
            <div class="row">
                <p>
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        1234567890
                    </address>
                </p>
                <address>
                    <strong>Support:</strong> <a href="mailto:funtotravel07@gmail.com">funtotravel07@gmail.com</a>
                    
                </address>
            </div>
        </div>
    </div>
</div>