@model HotelsVM[]
<div class="bs-component">
    <div class="jumbotron">
        <div class="hotels"></div>
        <h1 class="display-3">Our Activity Hotels</h1>
        <p class="lead">These are our hotels and resorts that we offer,wich has many varied types of activities for you to experience and enjoy. Please look trough our selection below.</p>
        <hr class="my-4">
        <div class="gridDisplay">
            @foreach (var item in Model)
            {
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <a class="navbar-link" asp-controller="Details" asp-action="HotelDetail" asp-route-id="@item.Id">
                        <div class="card-header"><h4 class="card-title">@item.HotelName</h4></div>
                        <div class="card-body">
                            <img src="@item.HotelPic1" class="card-image" />
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
