<div class="bs-component">
    <div class="jumbotron">
        <div class="hotels"></div>
        <h1 class="display-3">Specials and Adventure Packages</h1>
        <p class="lead">Limited Time offers and Deals</p>
        <hr class="my-4">
        <br />
        <br />
        <br />
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <a class="navbar-link" asp-controller="Details" asp-action="PackageDetails" asp-route-id="1">
                        <div class="card-header"><h4 class="card-title">Package 1</h4></div>
                        <div class="card-body">
                            <img src="~/images/hotelalpha.jpg" class="card-image" />
                        </div>
                    </a>
                </div>

                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <a class="navbar-link" asp-controller="Details" asp-action="PackageDetails" asp-route-id="2">
                        <div class="card-header"><h4 class="card-title">Package 2</h4></div>
                        <div class="card-body">
                            <img src="~/images/hotelalpha.jpg" class="card-image" />
                        </div>
                    </a>
                </div>v>
            </div>

            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <a class="navbar-link" asp-controller="Details" asp-action="PackageDetails" asp-route-id="3">
                    <div class="card-header"><h4 class="card-title">Package 3</h4></div>
                    <div class="card-body">
                        <img src="~/images/hotelalpha.jpg" class="card-image" />
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
