<div class="bs-component">
    <div class="jumbotron">
        <div class="hotels"></div>
        <h1 class="display-3">Limited offers and Adventure Packages</h1>
        <p class="lead">Find a great deal or Package</p>
        <hr class="my-4">
     
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <a class="navbar-link" asp-action="PackageDetails">
                        <div class="card-header"><h4 class="card-title">Package 1</h4></div>
                        <div class="card-body">
                            <img src="~/images/hotelalpha.jpg" class="card-image" />
                        </div>
                    </a>
                </div>

                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h4 class="card-title">Hotel Beta</h4></div>
                    <div class="card-body">
                        <img src="~/images/hotelalpha.jpg" class="card-image" /> <br /><br /><br />
                    </div>
                </div>

                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h4 class="card-title">Hotel Gamma</h4></div>
                    <div class="card-body">
                        <img src="~/images/hotelalpha.jpg" class="card-image" /> <br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h4 class="card-title">Hotel Gamma</h4></div>
                    <div class="card-body">
                        <img src="~/images/hotelalpha.jpg" class="card-image" /> <br /><br /><br />
                    </div>
                </div>

                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h4 class="card-title">Hotel Gamma</h4></div>
                    <div class="card-body">
                        <img src="~/images/hotelalpha.jpg" class="card-image" /> <br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
