<div class="bs-component">
    <div class="jumbotron">
        <div class="hotelsdetail"></div>
        <h2 class="display-3">Hiking</h2>
        <div class="d-flex justify-content-center">
            <p>This package contains the following:</p>
            <ul>
                <li>7 nights at Hotel Alpha</li>
                <li>Race- or Mountain bike for 6 days</li>
                <li>Inkluded breakfast</li>
                <li>2 guided tours</li>
            </ul>
            <img src="~/images/hotelalpha.jpg" />
        </div>
        <br />
        <br />
        <div class="d-flex justify-content-around">
            <img class="detailsimage" src="~/images/cykling1.jpg" />
            <p>Several nice paths and roads around the area:</p>

        <p>map of surrounding area</p>
        </div>
    </div>
</div>
